//--------- App-wide common styles -----------
.hidden {
  display: none;
}

.clear {
  clear: both;
}

// Links
a, a.visited {
  color: #494767;
}

// A bit darker in the main section
div#contents {
  a, a.visited {
    color: #272549;
  }
}

//--------- Errors -----------
.alert-message {
  text-align: center;
  padding: .3em .4em;
  clear: both;
  max-width:  80em;
  font-weight: bold;
  a {
    color: white;
  }
}

.alert-message.error {
  border: thin solid #8b0000;
  background: #ffc0cb;
}

.alert-message.notice, .alert-message.message {
  border: thin solid #080;
  background: #BFFAD3;
  color: #157E1A;
  a {
    color: #157E1A;
  }
}

.alert-message.warning {
  border: thin solid #b8860b;
  background: #ff0;
}

.alert-message .close {
  float: right;
}

.alert-message .close a {
  color: #f00;
  text-decoration: none;
}

.field_with_errors {
  label {
    color: #c00;
  }
  input,textarea {
    border: 2px solid #c00;
    background-color: #fee;
  }
}


//--------- SPECIFIC ELEMENTS ------------

header h1 {
  font-size: 250%;
  color: #004;
}

header .tagline {
  color: #448;
  font-style: italic;
}

footer {
  font-size: small;
}

.breadcrumbs {
  margin: 0 0 10px 0;
}

.logged_in_as {
  font-style: italic;
}

ul.environments_list li {
  list-style: none;
  margin-bottom: 4px;
}

span.environment_icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid black;
  margin-right: 5px;
  vertical-align: middle;
}

.main_action_links {
  margin-left: 30px;
  img {
    vertical-align: middle;
  }
}

.environment_task_actions {
  padding: 30px;
  border: 1px solid #888;
  width: 400px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px #aaa;
}

// -------- COMMANDS ----------------

fieldset {
  width: auto;
}
form label {
  display: inline-block;
  float: left;
  width: 250px;
  font-weight: bold;
}
form .sublabel {
  clear: both;
  margin-top: 2ex;
  font-size: 80%;
  font-weight: normal;
  font-style: italic;
}
form label.for_checkbox, 
form label.for_radio {
  display: inline;
  float: none;
  font-weight: normal;
}
form input[type=text], form textarea {
  width: 35em;
}
textarea {
  font-family: "Arial", "sans-serif";
  height: 10em;
}
textarea.command {
  font-family: "consolas", "monospace";
}
form div {
  margin-bottom: 20px;
}

// --- command results and logging ---
div.result_log {
  border: 2px inset gray;
  background-color: white;
  padding: 4px;
  font-family: "Consolas", sans-serif;
}
