//--------- App-wide common styles -----------
.hidden {
  display: none;
}

.small {
  font-size: 85%;
  font-style: italic;
}

.inline_block {
  display: inline-block;
}

.clear {
  clear: both;
}

dl {
  dt {
    background: #AFC4DF;
    color: black;
    float: left;
    clear: both;
    font-weight: bold;
    font-size: 90%;
    margin-right: 10px;
    padding: 5px;
    width: 190px;
  }
  dd {
    margin: 2px 0;
    padding: 5px 0;
    font-size: 80%;
  }
}

// Links
a, a.visited {
  color: #494767;
}

// A bit darker in the main section
div#contents {
  a, a.visited {
    color: #272549;
  }
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 180%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 135%;
}
h4 {
  font-size: 115%;
}

//--------- Errors -----------
.alert-message {
  text-align: center;
  padding: .3em .4em;
  clear: both;
  max-width:  80em;
  font-weight: bold;
  a {
    color: white;
  }
}

.alert-message.error {
  border: thin solid #8b0000;
  background: #ffc0cb;
}

.alert-message.notice, .alert-message.message {
  border: thin solid #080;
  background: #BFFAD3;
  color: #157E1A;
  a {
    color: #157E1A;
  }
}

.alert-message.warning {
  border: thin solid #b8860b;
  background: #ff0;
}

.alert-message .close {
  float: right;
}

.alert-message .close a {
  color: #f00;
  text-decoration: none;
}

.field_with_errors {
  label {
    color: #c00;
  }
  input,textarea {
    border: 2px solid #c00;
    background-color: #fee;
  }
}


//--------- SPECIFIC ELEMENTS ------------

header h1 {
  font-size: 250%;
  color: #004;
}

header .tagline {
  color: #448;
  font-style: italic;
}

footer {
  font-size: small;
}

.breadcrumbs {
  margin: 0 0 10px 0;
}

.logged_in_as {
  font-style: italic;
}

ul.environments_list li {
  list-style: none;
  margin-bottom: 4px;
}

span.environment_icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid black;
  margin-right: 5px;
  vertical-align: middle;
}

.main_action_links {
  margin-left: 30px;
  img {
    vertical-align: middle;
  }
}

.environment_task_actions {
  padding: 30px;
  border: 1px solid #888;
  width: 400px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px #aaa;
}


fieldset {
  width: auto;
}
form label {
  display: inline-block;
  float: left;
  width: 250px;
  font-weight: bold;
}
form .sublabel {
  clear: both;
  margin-top: 2ex;
  font-size: 80%;
  font-weight: normal;
  font-style: italic;
}
form label.for_checkbox, 
form label.for_radio {
  display: inline;
  float: none;
  font-weight: normal;
}
form input[type=text], form textarea {
  width: 35em;
  margin-bottom: 20px;
}
textarea {
  font-family: "Arial", "sans-serif";
  height: 10em;
}
textarea.command {
  font-family: "consolas", "monospace";
  overflow-x: scroll;
  white-space: nowrap;
}

// -------- COMMANDS ----------------
#sudoers_instructions {
  background: #FED;
  padding: 4px;
  border: 1px solid #888;
  pre {
    padding: 2px;
    border: 1px inset #AAA;
    background: white;
    font-size: 85%;
  }
  .highlight {
    color: #0000C4;
    font-weight: bold;
  }
}

textarea.sudo_config {
  background: #DDD;
  border: 1px solid #888;
}

// --- command results and logging ---
textarea.command_text {
  width: 775px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #DDD;
}

.running_command {
  margin-left: 30px;
  font-style: italic;
  padding: 5px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.5);
  color: #001F6F;
}
div.status_message {
  background-color: #EEE;
  padding: 10px 5px;
  border: 1px solid black;
}
div.result_log {
  border: 2px inset gray;
  background-color: white;
  padding: 4px;
  font-family: "Consolas", sans-serif;
}

// --- Environment/Servers Forms ---
.delete_servers, .add_servers {
  margin-left: 10px;
}
.server_label {
  text-decoration: underline;
  line-height: 30px;
}

input.delete_checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  line-height: 30px;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  background: url(checkbox.png);
}
input.delete_checkbox:checked {
    background: url(delete.png);
}

